# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Adarsh Kumar Yadav (adarsh-dell)
# Akshay Saini (AkshaySainiDell)
# Bahubali Jain (bpjain2004)
# Christian Coffield (ChristianAtDell)
# Francis Nijay (francis-nijay)
# Harish P (harishp8889)
# Harshita Pandey (harshitap26)
# Niranjan N (niranjan-n1)
# Pooja Prasannakumar (kumarp20)
# Prasanna Muthukumaraswamy (prablr79)
# Rishabh Raj (rishabh-dell)
# Santhosh Lakshmanan (SanthoshAtDell)
# Satya Narayana (satyakonduri)
# Shanmugapriya M (spriya-m)
# Surya Prakash Gupta (suryagupta4)
# Tarandeep Singh Gill (gilltaran)
# Vinutha Kini (kenivi1)




# for all files:
* @adarsh-dell @AkshaySainiDell @bpjain2004 @ChristianAtDell @francis-nijay @harishp8889 @harshitap26 @niranjan-n1 @kumarp20 @prablr79 @rishabh-dell @SanthoshAtDell @satyakonduri @spriya-m @suryagupta4 @gilltaran @kenivi1
