# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Adarsh Kumar Yadav (adarsh-dell)
# Akshay Saini (AkshaySainiDell)
# Boya Murthy (boyamurthy)
# Bahubali Jain (bpjain2004)
# Christian Coffield (ChristianAtDell, christian_coffield@dell.com)
# Utkarsh Dubey (delldubey)
# Francis Nijay (francis-nijay)
# Tarandeep Singh Gill (gilltaran)
# Harish P (harishp8889)
# Harshita Pandey (harshitap26)
# Vinutha Kini (kenivi1)
# Niranjan N (niranjan-n1)
# Prasanna Muthukumaraswamy (prablr79)
# Santhosh Lakshmanan (santhoshatdell, santhosh.lakshmanan@dell.com)
# Satya Narayana (satyakonduri)
# Yamunadevi Shanmugam (shanmydell)
# Surya Prakash Gupta (suryagupta4)
# Sushma T S (tssushma)



# for all files:
* @adarsh-dell @AkshaySainiDell @boyamurthy @bpjain2004 @ChristianAtDell @delldubey @francis-nijay @gilltaran @harishp8889 @harshitap26 @kenivi1 @niranjan-n1 @prablr79 @satyakonduri @santhoshhs10 @shanmydell @suryagupta4 @tssushma
