# binaries and temporary files
/csi-powerstore
semver.mk
vars.mk
Dockerfile-debug
go-code-tester*
csm-common.mk
*coverage*.txt

# test directories and artifacts
service/c.out
service/test/
vendor
**/test-data*

# IDE
.idea
.vscode

# gosec
gosec.log
gosecresults.csv

# reports
*.csv
*.xml

# coverage
*.out
*.html

# logs
*.log

vendor/

